<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 配置一些不需要spring托管的属性配置  -->
  <!-- 数据库下划线与驼峰转换 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>

</configuration>